<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vurb-take-home-mobile-exerceise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D76E9871C5578340044D685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D76E99E1C5578350044D685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D76E9A91C5578350044D685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
